body {
  background-color: rgba(200, 196, 196, 0.763);
  font-size: 150%;
}
#main {
  padding: 10%;
  margin: 10%;
  background-color: lightcyan;
}
#playerchoice > img {cursor: pointer;}

#info > h1, #info > p, #playerchoice, #pcchoice, #results {padding: 5%}

#info > h1                          {background-color: lightgrey;}
#playerchoice, #pcchoice, #info > p {background-color: white;}
#results                            {background-color: lightyellow;}